.box{
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
}

.boxitem{
    padding: 10px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m3-5{
    background-color: blue;
}

.m-3{
    background-color: brown;
}

.m-5{
    background-color: yellow;
}

.neutro{
    background-color: aqua;
}